# Web & UI
streamlit>=1.28.0

# Daten & Forecast
fastapi>=0.109.0
uvicorn[standard]>=0.23,<0.39
scikit-learn
matplotlib
pandas>=2.0
numpy>=1.26
prophet>=1.2.0

# Datenbank
sqlalchemy>=2.0
psycopg2-binary>=2.9

# Extras
requests>=2.32
openpyxl>=3.1
XlsxWriter>=3.0
plotly>=5.17

